
.vs/ConsoleApplication1/v17/Browse.VC.opendb
.vs/ConsoleApplication1/FileContentIndex/8828b390-3fa1-4a55-a3f7-2c08b04b98bb.vsidx
.vs/ConsoleApplication1/FileContentIndex/549f95e9-92c1-4c44-91a8-b7341f5dfad1.vsidx
.vs/PhysicsSimulation/v17/Browse.VC.opendb
